@font-face {
  font-family: 'Thinking of betty';
  src: url('../fonts/Thinking_of_Betty.woff') format('woff');
}

* {
  color: #0e2357;
}
a:visited,
a:focus {
  color: #0e2357;
}
.logo {
  width: 50px;
  height: 50px;

  top: 20px;
  left: 20px;
}
code {
  font-family: 'Thinking of betty';
}
